/* DASHBOARD CSS */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Header */
header {
  background: #f4f4f4;
  color: white;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

nav {
  margin: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h1 {
  color: rgb(138, 39, 138);
}

/* Container */

.container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

/* Form  */
.tracker {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 30%;
}

form label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Input styles */

form input:focus {
  outline: none;
  border-color: rgb(138, 39, 138);
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button styles */
button {
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-action-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.main-btn {
  background-color: rgb(138, 39, 138);
}

.edit-btn {
  background: rgb(28, 155, 102);
}

.delete-btn {
  background: rgb(190, 26, 26);
  padding-left: 1rem;
}

.main-btn:hover {
  background-color: rgb(138, 39, 118);
}

.edit-btn:hover {
  background: rgb(28, 155, 82);
}

.delete-btn:hover {
  background: rgb(190, 26, 16);
}

/* Table styles */
.table {
  flex: 1;
  margin-left: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.8rem;
  text-align: left;
  font-size: 0.9rem;
}

th {
  background-color: rgb(160, 47, 160);
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Logout Link */
a {
  color: rgb(138, 39, 138);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
